section.footer 
	.container 
		.footer-top 
			ul.footer-top-left 
				li.footer-left_text Kênh người bán
				li.footer-left_text Tải ứng dụng
				li.footer-left_text kết nối
					i.fab.fa-facebook.footer-left_icon
					i.fab.fa-instagram.footer-left_icon
			ul.footer-top-right
				li.footer-right-item
					i.far.fa-bell.footer-right_icon
						span.footer-right_number 9
					span.footer-right_text Thông báo
				li.footer-right-item
					i.far.fa-question-circle.footer-right_icon 
					span.footer-right_text Hỗ trợ
				li.footer-right-item 
					img(src="../images/nguyen1.jpg").footer-right_image
				li.footer-right-item 
					span.footer-right_account Nguyên nèe
		.footer-center 
			.footer-center-left 
				i.fas.fa-shopping-bag.footer-center-left_icon
				span.footer-center-left_text Shoppe
			.footer-center-content
				.footer-center-search
					input(type="text" id="input", placeholder="Siêu sale điện tử" class="footer-center-search_input")
					label(for="input")
						.footer-center-search-item
							i.fas.fa-search
				.footer-center-search-list 
					span.footer-center-search_item Áo Khoác
					span.footer-center-search_item Giày Thể Thao
					span.footer-center-search_item Áo Khoác
					span.footer-center-search_item Áo Khoác
					span.footer-center-search_item Áo Khoác
					span.footer-center-search_item Áo Khoác
					span.footer-center-search_item Áo Khoác
					span.footer-center-search_item Áo Khoác
			.footer-center-right
				i.fas.fa-shopping-cart.footer-center-right_icon
					span.footer-center_number 22


				