section.title
	.container
		.title-images
			.title-big
				img(src="../images/shoppe-sale1.png").title-big_image
			.title-small 
				img(src="../images/shoppe-sale2.png").title-small_image
				img(src="../images/shoppe-sale3.png").title-small_image
		.title-list 
			.title-item
				i.far.fa-gem.title-item_icon
				span.title-item_text Shoppe Premium
			.title-item
				i.fas.fa-beer.title-item_icon
				span.title-item_text Gì Cũng Rẻ Từ 1k
			.title-item
				i.fas.fa-award.title-item_icon
				span.title-item_text Hoàn Xu 100%
			.title-item
				i.fas.fa-phone.title-item_icon
				span.title-item_text Nạp Thẻ,Hóa Đơn
			.title-item
				i.fab.fa-bitcoin.title-item_icon
				span.title-item_text Shoppe Số Gì Đây
			.title-item
				i.fas.fa-truck.title-item_icon
				span.title-item_text Freeship Xtra
			.title-item
				i.fas.fa-heading.title-item_icon
				span.title-item_text Hàng Hiệu -50%
			.title-item
				i.fas.fa-globe-asia.title-item_icon
				span.title-item_text Hàng Quốc Tế
			.title-item
				i.fas.fa-camera.title-item_icon
				span.title-item_text Siêu Thị Điện Tử